table, th, td {
    border: 1px solid  #007bff;
}
body, h1, p, table {
    margin: 0;
    padding: 0;
}
.red-row {
    background-color: #a4ced7;
    transition: background-color 1s; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.title {
    font-size: 36px;
    color: #007bff;
    margin-bottom: 20px;
}

.yesterday-word {
    font-size: 18px;
    margin-bottom: 10px;
    color: #888;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.input-field {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.add-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px 20px;
    cursor: pointer;
}

.word-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.word-table th, .word-table td {
    padding: 10px;
    text-align: center;
}

.word-list tr:nth-child(odd) {
    background-color: #f0f0f0;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.close,.close_secret {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.stats-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 20px;
    margin-right: 360px;
}
.give-up-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}


.flashing {
    animation: flashing 1s infinite;
}

@keyframes flashing {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.flashing-message {
    font-style: italic;
    font-family: "	Copperplate", "Courier New", Fantasy;
    display: none;
    font-size: 60px; 
    font-weight: bold;
    text-align: center;
    color:#f6f6c0;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.timer-container {
    display: none;
    text-align: center;
    width: 100%;

  }
  
  .timer-progress {
    height: 10px;
    background-color: #3498db;
    margin-bottom: 10px;
  }
  
  .timer-display {
    font-size: 16px;
  }
.countdown-container {
    position: fixed;
    top: 25px; 
    right: 25px; 
    border: 1px solid #007bff;
    padding: 10px;
    background-color: #f0f0f0;
    margin-right: 5px;
  }
  
  .countdown-display {
    font-size: 18px;
    line-height: 1.2;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  


